@model Peacock.ViewModel.Manage.CompanyItem

<section class="content-header">
    <h1>
        设置公司信息
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="box box-primary">
            <form role="form" method="post" action="@Url.Action("Save", "Company", new { area = "News" })">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.Id)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.OrderId)
                                    @Html.TextBoxFor(m => m.OrderId, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.ImgUrl)
                                    @Html.LabelFor(m => m.ImgUrl)
                                    <img id="ImgArea" src='@Model.ImgUrl' class="form-control" style="height:200px;width:200px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="j-lang-tab">
                                <ul class="nav nav-pills ">
                                    <li class="active">
                                        <a class="nav-link active" href="#tab_zh" data-toggle="tab" aria-expanded="true">中文语言</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tab_en" data-toggle="tab" aria-expanded="false">英文语言</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_zh">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(m => m.TitleZh)
                                            @Html.TextAreaFor(m => m.TitleZh, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.LabelFor(m => m.IntroductionZh)
                                            @Html.TextAreaFor(m => m.IntroductionZh, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.LabelFor(m => m.ContentZh)
                                            @Html.TextAreaFor(m => m.ContentZh)
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_en">
                                        <div class="col-sm-12">
                                            @Html.LabelFor(m => m.TitleEn)
                                            @Html.TextAreaFor(m => m.TitleEn, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.LabelFor(m => m.IntroductionEn)
                                            @Html.TextAreaFor(m => m.IntroductionEn, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.LabelFor(m => m.ContentEn)
                                            @Html.TextAreaFor(m => m.ContentEn)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-danger">
                        @Html.ValidationSummary()
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <a href="@Url.Action("Index", "Company", new { area = "News" })" class="btn btn-default">返回</a>
                </div>

            </form>
        </div>
    </div>
</section>

@Html.Partial("_Modal")
@Html.Partial("_HtmlEditor")

@section Scripts {


    <script type="text/javascript">
        $(function () {
            htmlEditorHelper.Create('#ContentZh');
            htmlEditorHelper.Create('#ContentEn');

            // 上传图片
            let $modal = $('#customModal');

            $('#ImgArea').on('click', function () {
                $modal.modal('show');
                //$('#customModal').modal('hide');
                $modal.find('#modalLabel').text('上传图片');
                //$modal.find('#modal-body');
                $.ajax({
                    url: '/Base/GetUploadView',
                    method: 'GET',
                    dataType: 'HTML',
                    success: function (r) {
                        $modal.find('.modal-body').html(r);
                    }
                })
            });

            $modal.find('.j-btn-save').on('click', function () {

                $modal.modal('hide');

            });
        });

        function uploadCallback(d) {
            alert('上传成功');
            $('#ImgArea').attr('src', d);
            $('#ImgUrl').val(d);
        }
    </script>
}
