@model Peacock.ViewModel.Manage.AdvertiseImgItem

<div class="form-group">
    <div class="col-md-10">
        <span>@Html.LabelFor(m => m.OrderId)：</span>
        @Html.TextBoxFor(m => m.OrderId, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <span>图片预览：</span>
        <img src="@Model.ImgUrl" class="form-control j-img-preview" style="width:200px;height:200px;" />
    </div>
</div>
<div class="j-area-upload"></div>

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ImgUrl)

<script type="text/javascript">
    $(function () {
        let imgHelper = new ImgHelper();
        imgHelper.loadPage();



    });

    function ImgHelper() { };
    ImgHelper.prototype.loadPage = function () {
        $.ajax({
            url: '/Base/GetUploadView',
            method: 'GET',
            dataType: 'HTML',
            success: function (r) {
                $('.j-area-upload').html(r);
            }
        });
    }

    // 上传图片回调
    function uploadCallback(d) {
        alert('上传成功');
        $('#ImgUrl').val(d);
        $('.j-img-preview').attr('src', d);
    }
</script>


